

<div class="col-sm-12 index-banner">
  <h1 class="index-header-content"><%= t('.title') %></h1>
  <h3 class="index-header-content"><%= t('.title_2') %></h3>
  <p class="index-content">
    <%= link_to t('.new_project'), new_project_path, class: "btn btn-success btn-lg" %>
  </p>
</div>

<div class="col-sm-6">
  <h2><%= t('.what_is_crowdfunding') %></h2>
  <hr class="index-hr teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 40%;">
  <p><%= t('.what_is_crowdfunding_text') %></p>
</div>

<div class="col-sm-6">
  <h2><%= t('.about_us') %></h2>
  <hr class="index-hr teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 40%;">
  <p><%= t('.about_us_text') %></p>
</div>

<div class="banner"></div>

<div class="col-sm-12 index-start-invest">
  <h1 class="index-header-content">StartInvest</h1>
  <p class="index-header index-content"><%= t('.start_invest_text') %></p>
</div>

<div class="row text-center services-2">
  <div class="col-sm-6">
    <div class="col-wrapper">
      <div class="icon-border bm15"> <i class="budicon-diamond icn"></i> </div>
      <h4><%= t('.startup') %></h4>
      <hr class="index-hr teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 50%;">
      <p><%= t('.startup_text') %></p>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="col-wrapper">
      <div class="icon-border bm15"> <i class="budicon-bag icn"></i> </div>
      <h4><%= t('.investor') %></h4>
      <hr class="index-hr teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 50%;">
      <p><%= t('.investor_text') %></p>
    </div>
  </div>
</div>

<div class="project-partners">
  <h1 class="index-header-content"><%= t('.partners') %></h1>
  <div class="partners-list" pl-inner-scroll="">
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://s5.planeta.ru/i/281799/1564149228221_renamed.jpg" alt="МИФ">
    </div>
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://s5.planeta.ru/i/264cba/1553869399546_renamed.jpg" alt="">
    </div>
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://s2.planeta.ru/i/22c477/1537200065836_renamed.jpg" alt="Skyeng">
    </div>
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://www.booomerang.dk/wp-content/uploads/2011/05/Partnerlogo120.gif" alt="CrowdInvest">
    </div>
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://www.booomerang.dk/wp-content/uploads/2011/05/Outlook-1506076099.gif" alt="CrowdInvest">
    </div>
    <div class="partners-list_i ng-star-inserted">
      <img class="partners-list_img ng-lazyloaded" src="https://www.booomerang.dk/wp-content/uploads/2011/05/SED250tt.gif" alt="CrowdInvest">
    </div>
  </div>
</div>